<!-- Footer -->
<footer class="bg-danger text-center text-lg-start mt-3" style="color: white;">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
                <h5 class="text-uppercase">NEWS</h5>

                <p>
                    Doing our best to keep you update.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
                <h5 class="text-uppercase">Big Thanks To -</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a style="text-decoration:none;color: white;" href="#!" >News API</a>
                    </li>
                    <li>
                        <a style="color: white;text-decoration:none;" href="#!" >NodeJS</a>
                    </li>
                    <li>
                        <a style="color: white;text-decoration:none;" href="#!" >Express JS</a>
                    </li>
                    <li>
                        <a style="color: white;text-decoration:none;" href="#!" >Bootstrap_5</a>
                    </li>
                </ul>
            </div>

            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->